/* 
primary: #9356DC
secondary: #FF79DA
third:#99E2D0 
*/

.shrikhand {
    font-family: 'Shrikhand', cursive;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin: 5%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.no-margin {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.margin-auto {
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 100%;
    width: 50%;
}

.location {
    margin: 0 auto;
    background-color: grey;
    padding: 18px;
}

.title-box {
    background-color: bisque;
}

.title {
    width: 65%;
    font-size: 26px;
    text-align: center;
    margin-top: 10%;
}

.sub-title {
    width: 80%;
    font-size: 18px;
    text-align: center;
    margin-top: 5%;
}

.button-explorer {
    width: 50%;
    padding: 15px;
    background: rgb(255,121,218);
    background: linear-gradient(135deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    border-radius: 30px;
    margin: 5% auto;
    text-align: center;
}

.fonctionnement {
    display: flex;
}

.fonct-box {
    background-color: blanchedalmond;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 15px;
}

.interior-fonct {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-left: 10px;
    height: 100%;
}

footer {
    background-color:black;
    color: white;
    height: 200px;
}

.logo-footer {
    filter: brightness(0) invert(1);
    margin-top: 15px;
    width: 30%;
    margin-left: 5%;
}

.footer-box {
    display: flex;
    justify-content: space-around;
    height: 70%;
    width: 90%;
}

.rest-box {
    border: 2px solid black;
    margin: 10px auto;
    height: 300px;
    width: 90%;
    border-radius: 20px;
}

.palette-box {
    background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    height: 75%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box-bottom-rest {
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.box-text-rest {
    width: 70%;
    margin-left: 5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.heart {
    width: 20%;
    font-size: 40px;
    display: flex;
    justify-content: center;
}



/* PAGE A LA FRANCAISE 
*
*
*/

.img-francaise {
    background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    height: 270px;
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.name-rest {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.heart-rest {
    margin: auto 0;
}

.bloc-menu {
    margin-top: -60px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.margin-10 {
    margin: 10px;
}

.box-choice {
    border: 2px solid blue;
}

.box-meal {
    margin: 10px auto;
    background-color: aliceblue;
    border: 2px solid red;
    border-radius: 20px;
    height: 60px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    outline:none;
}

.box-price {
    display: flex;
    justify-content: space-between;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}